.logo {
    padding-top: 25px;
    padding-left: 45px;
    padding-bottom: 5px;
}
.login_box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100vh;
}
.user-login {
    color: #444;
    font-size: 18px;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 15px;
    font-family: roboto, sans-serif;
    box-sizing: border-box;
}
.btn {
    height: 50px;
    width: 51%;
    line-height: 50px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    background : #35aa47;
    color: #fff;
    }
    .btn:hover {
    background-color: darkslategrey
    }
.password-btn{
    height: 50px;
    width: 49%;
    line-height: 50px;
    border: 1px solid #dfdfdf !important;
    background: transparent;
    border-radius: 4px;
    padding-left: 1.5rem;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: #888;
}
.password-btn:hover{
    background: #f5f5f5;
    border: 1px solid #dfdfdf !important;
}
.username-btn{
    height: 50px;
    width: 49%;
    line-height: 50px;
    border: 1px solid #dfdfdf !important;
    background: transparent;
    border-radius: 4px;
    padding-left: 1.5rem;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: #888;
}  
.username-btn:hover{
    background: #f5f5f5;
    border: 1px solid #dfdfdf !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.forgot-password {
    font-size: 12px;
    font-family: sans-serif;
    color: #444;
    text-decoration: none;
    margin-top: 5px;
    margin-left:5px;
}